.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebf5f9;
  .card {
      margin: 0 auto;
      background-color: #ffffff; /* Card background color */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
      padding: 20px;
      border-radius: 8px;
      max-width: 400px;
      width: 100%;
      text-align: center;
    }
  &-form {
    margin: 0 auto;
    max-width: 300px;
    padding: 20px 20px;
    border-radius: 10px;
    h2 {
      text-align: center;
    }
    &_button {
      width: 100%;
      padding: '16px';
    }
  }
  .logo-image{
    background-color: aliceblue;
    border-radius: 10px;
  }
}
@media (max-width: 500px) {
  .card {
    width: 70% !important;
  }
}